/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to override default styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #3a3a3a;
    font-family: Lato-light, sans-serif;

}

/* Header style */
header {
    background-color: lightcoral;
}

/* Main content style */
main {
    background-color: lightblue;
    /* Make the element take up most of the screen */
    flex: 1 0 auto;
}

/* Footer style */
footer {
    background-color: orange;
}

